BASE_DOMAIN="seo.localhost"
API_DOMAIN="seo.localhost"
AUTH_DOMAIN="auth.seo.localhost"
ADMIN_DOMAIN="admin.seo.localhost"

DB_ROOT_PASSWORD="someSecurePassword"
AUTH_DB_PASSWORD="anotherSecurePassword"
